---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPil from "../components/SocialPil.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro"
import GitHubIcon from "../icons/GitHub.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GmailIcon from "../icons/Gmail.astro";
import BriefcaseIcon from "../icons/Briefcase.astro"
import CodeIcon from "../icons/Code.astro"
import Projects from "../components/Projects.astro"
---

<Layout
	title="Portfolio de Salvador Karakachoff - Programacion, Desarrollo Web, Ingenieria en computacion y Data Science"
	description="Contrata a Salvador Karakachoff porque es un desarrollador web con más de 5 años de experiencia. Además, ofrece soporte en IT. Salvador es un estudiante avanzado en Ingeniería en Computación y Data Science, lo que demuestra su compromiso con el aprendizaje continuo y su capacidad para adaptarse a las nuevas tecnologías. Su experiencia y habilidades le permiten crear soluciones web de alta calidad y brindar un excelente soporte técnico. "
>
	<main class="px-4">
		<SectionContainer class="py-44">
			<img class="rounded-full size-20 mb-4" src="https://media.licdn.com/dms/image/C4D03AQGYL7JFtF0jqw/profile-displayphoto-shrink_200_200/0/1623854942026?e=2147483647&v=beta&t=GQKXz4d5CXjtcyH93g4LUl70PfX-EYiII_H3SqotDw8" alt="Salvador Karakachoff photo">
			
			<h1
				class="text-2xl md:text-3xl lg:text-5xl font-bold lg:gap-x-4 gap-2 pb-4 lg:pb-6 flex flex-wrap"
			>
				Hola, Soy Salvador! <a
					href="https://linkedin.com/in/salvador-karakachoff/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge></a
				>
			</h1>
			<h2 class="text-xl lg:text-2xl opacity-90 max-w-[700px]">
				<span>+5 años de experiencia</span>.
				<span class="text-purple-400/90">
					Desarrollador Web y Soporte IT</span
				>. Estudiante avanzado en las carreras de <span class="text-blue-400/90"
					>Ingeniería en Computación</span
				> y <span class="text-blue-400/90">Data Science</span>,
				recibido de <span class="text-blue-400/90"
					>Técnico Electrónico</span
				>.<br /><span> La Plata</span>,
				<span class="rounded-full bg-blue-900/70 px-2">
				<span class="text-blue-300/90">Ar</span><span class="text-white">ge</span><span
					class="text-yellow-300/90">n</span
				><span class="text-white">ti</span><span class="text-blue-300/90">na</span></span>.
			</h2>

			<nav class="flex gap-5 mt-6 flex-wrap">
				<SocialPil href="https://Linkedin.com/in/salvador-karakachoff/">
					<LinkedInIcon class="size-4 md:size-6" />
					 LinkedIn
				</SocialPil>

				<SocialPil href="https://github.com/salvakaraka/">
					<GitHubIcon class="size-4 md:size-6" />
					 GitHub
				</SocialPil>

				<SocialPil href="mailto:salvador.karakachoff@gmail.com">
					<GmailIcon class="size-4 md:size-6" />
					 Salvador.Karakachoff@gmail.com
				</SocialPil>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold pb-6 flex gap-x-2 items-center"> <BriefcaseIcon class="size-6"/> Experiencia Laboral</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer class="my-40" id="proyectos">
			<h2 class="text-3xl font-semibold pb-6 flex gap-x-2 items-center"> <CodeIcon class="size-7"/> Proyectos</h2>
			<Projects />
		</SectionContainer>

	</main>
</Layout>
