<footer>
    <div class="flex flex-col items-center justify-center pt-20 pb-10 text-black/90 dark:text-white/90 text-sm">
        <p class="">© 2021 <a href="https://twitter.com/salva_karaka" class="text-purple-500">Salvador Karakachoff</a></p>
        <p class="">Utilizando Astro y Tailwind CSS</p>
    </div>
</footer>