<footer>
    <div class="flex flex-col items-center justify-center pt-20     pb-10">
        <p class="text-white text-sm">© 2021 <a href="https://twitter.com/salva_karaka" class="text-purple-500">Salvador Karakachoff</a></p>
        <p class="text-white text-sm">Casi todos los derechos reservados</p>
    </div>
</footer>