---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/onest";
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<script>
			const toggleThemeBtn = document.getElementById("toggleThemeBtn");

			function toggleTheme() {
				const body = document.querySelector("body");
				body!.classList.toggle("dark");
			}

			toggleThemeBtn!.addEventListener("click", toggleTheme);
		</script>

		<!--script>
			document.addEventListener("DOMContentLoaded", function () {
				const toggleBtn = document.getElementById("toggleLangBtn");

				toggleBtn!.addEventListener("click", function () {
					const languageSpan = toggleBtn!.querySelector('span');
        			languageSpan!.textContent = (languageSpan!.textContent === 'es') ? 'en' : 'es';
					});
				});
		</script-->
	</head>
	<body class="dark">
		<div
			class="fixed inset-0 -z-10 h-full w-full items-center px-5 py-24 dark:[background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#3b0252_100%)] [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#F0D3FC_100%)]"
		>
		</div>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		background-color: #000;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
